.class-detail {
  text-align: center;
  margin: 30px auto;
  max-width: 950px;
  padding: 25px;
}

.back-btn {
  margin-bottom: 18px;
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  background: #1f3c88;
  color: white;
  cursor: pointer;
}

.desc {
  margin: 12px 0;
  font-size: 20px;
  color: #333;
  font-weight: 500;
}

.video-frame {
  margin-top: 20px;
  border-radius: 12px;
  border: none;
}
